// app.scss
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Dropzone
@import '~dropzone/dist/min/dropzone.min.css';
.dropzone {
    margin-bottom: 20px;
    min-height: auto;
}